@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
	--left-bg-overlay: #5754ecb3;
	--right-bg-overlay: #2b2b2bcc;
	--left-btn-hover-color: #5754ec;
	--right-btn-hover-color: #1c7a1c;
	--hover-width: 75%;
	--other-width: 25%;
	--speed: 0.5s;
}

body {
	background-image: url('xbox.jpg');
	background-repeat: no-repeat;
    background-size:800px;
    bottom: 0;
    background-color: white;
    left: 0;
    overflow: auto;
    padding: 0em;
    position: relative;
    right: 0;
    top: 2em;
    font-family: SegoeProBlack, Segoe UI, SegoeUI, Helvetica, Arial, sans-serif;
}

.compre h1 {
	color: #000;
	margin-top: 50px;
	margin-bottom: 50px;
}

div {
	margin-left: 680px;
}

a {
	color: #117e11;
	font-size: 20px;
	text-decoration: none;
}

.x{
	margin-left: 680px;
	text-align: left;
	margin-right: 75px;
	border: medium;
    font-size: 20px;
}

.s {
	margin-left: 200px;
	text-align: left;
	margin-right: 80px;
	border: medium;
    font-size: 20px;
	margin-bottom: 25px;
}

.footer {
	
	width: 100%;
	background-color: var(--right-btn-hover-color);
	color: #fff;
	padding: 5px 9px;
	margin-left: -10px;
  }
  
  .footer p {
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	text-align: center;	
  }